# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# dotenv environment variables files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Next.js build output
.next/
out/

# Production build
/build

# Vercel
.vercel

# Serverless
.serverless/
.serverless_plugins/

# Sentry
.sentryclirc

# OS files
.DS_Store
Thumbs.db
